body {
    margin: 0;
    overflow: hidden;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heart {
    width: 100px;
    height: 100px;
    position: relative;
    transform: scale(0.7);
    animation: beat 1s ease-in-out infinite;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    top: 0;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: red;
}

.heart:before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.heart-inner {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 25px;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes beat {
    0%, 100% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(0.8);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
